body {      
  background-image: url('../Img/Background.png');
}

header {
    background-color: rgb(255, 255, 255);
    height: 40px;
}

.titulo {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 20px;
    font-weight: 500;
}

.texto {
    font-size: 16px;
    color: gray;
}

.navbar {
    height: 120px;
    justify-content: space-between;
    padding-inline: 30px;
    background-color: white;
}

.navbar .row {
    display: flexbox;
    justify-content: space-between;
}

.navbar .botao {
    border-radius: 25px;
    height: 40px;
}

.cinza {
    border: solid 1px gray;
}

.cinza:hover {
    background-color: rgb(200, 200, 200);
}

.vermelho {
    background-color: #E32429;
    color: white;
    border: none; 
}

.vermelho:hover {
    background-color: #b31d22;
}

.container .row {
    display: flexbox;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container input {
    height: 40px;
}

.container .row .botao {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 10px;
    background-color: white;
    color: #212529;
    font-size: 20px;
    font-weight: 600;
    padding-inline: 10px;
}

.container .row .botao:hover {
    background-color: rgb(230, 230, 230);
}

.container .row .botao:active {
    background-color: #E32429;
    color: white;
}

.container .topicos .row {
    justify-content: space-around;
}

.container .topico {
    display: inline-block;
    width: 48%;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
